#title{
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: rgb(204, 194, 190);
}

.sessionBtn{
    width: 100px;
    height: 50px;
    border: 3px;
    border-radius: 12px;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
    cursor:pointer;
    margin-bottom: 10px;
}

#timeDisplay{
    font-size:75px;
    color: deepskyblue;
    font-family:'Courier New', Courier, monospace;
}

#stopwatch{
    text-align: center;
    border: 3px solid;
    border-radius: 12px;
    border-color: rgb(100, 203, 232);
}

.dateTgroup{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: larger;
    font-family:'Courier New', Courier, monospace;
}